{% for host, states in salt['state.show_top']('*').items() %}
define host{
        use                     generic-host{% for state in states %},tmpl_{{ state }}{% endfor %}
        contact_groups          admins
        host_name               localhost
        address                 localhost
}
{% endfor %}
